{% extends 'base.html' %}

{% block content %}

	<div class="container">
		
    	<!-- <h1>Home Page</h1> -->
	</div>

	<div class="jumbotron text-center">
	  <h1>A Sample Flask Application</h1>
	  <!-- <p>Resize this responsive page to see the effect!</p> -->
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-4">
	      <h3>Python</h3>
	      <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace</p>
	    </div>
	    <div class="col-sm-4">
	      <h3>Javascript</h3>
	      <p>JavaScript, often abbreviated as JS, is a high-level, interpreted scripting language that conforms to the ECMAScript specification. JavaScript has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.</p>
	    </div>
	    <div class="col-sm-4">
	      <h3>Bootstrap</h3>
	      <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and JavaScript-based design templates for typography, forms, buttons, navigation and other interface components.</p>
	    </div>
	  </div>
	</div>

    <!-- {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %} -->

{% endblock content %}